.round {
    padding-left: 15px;
}
.status {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 4px;
    border-radius: 50%;
}
.avatar {
    padding-left: 15px;
}
.name {
        padding-left: 15px;
}